.container-experience-container{
    background-color: #0D1117;
    width: 100vw;
    
}

.experience-container {

    max-width:1000px;
    margin: auto;
    padding: 50px 20px;
    background-color: #0D1117;
    color: white;
  }
  

  .experience-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  .experience-timeline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }
  
  .trait-timeline{
    position: absolute;
    top: 52px;
    left: 7vw;
    width: 2px;
    height: 44.8%;
    background: gray;
  }

  .trait-timeline2{
    position: absolute;
    top: 54.45%;
    left: 7vw;
    width: 2px;
    height: 45%;
    background: gray;
  }

  .point-timeline{
    position: absolute;
    top: 17px;
    left: 6.4vw;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    box-shadow: rgba(240, 0, 0, 0.205) 0px 0px 10px 15px;
  }
  
  .point-timeline2{
    position: absolute;
    top: 50.8%;
    left: 6.4vw;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    box-shadow: rgba(240, 0, 0, 0.205) 0px 0px 10px 15px;
  }

  .experience-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .experience-year {
    background: rgba(255, 255, 255, 0.281);
    color: white;
    font-weight: weight;
    padding: 5px 15px;
    border-radius: 20px;
    border-top-right-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    margin-left: -80px;
    margin-right: 80px;
  }
  
  .experience-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }
  
  .experience-position {
    font-size: 1.5rem;
    font-weight: 600 ;
  }
  
  .experience-company {
    font-size: 1.2rem;
    font-weight: 500;
    color: red;
    margin-top: -15px;
    margin-bottom: 30px;
  }
  
  .experience-techs {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .tech-icon {
    font-size: 1.5rem;
    color: white;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  
  .tech-icon:hover {
    background: #f4a261;
  }
  