/* Navbar de base */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(13, 17, 23, 0);
    backdrop-filter: blur(5px);
    transition: background 0.4s ease-in-out;
    z-index: 1000;

  }
  
  .navbar.scrolled {
    background: rgba(13, 17, 23, 0.8);
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
  }

  .navbar-brand:hover {
    color: #f56565; 
    transform: scale(1.1);
    
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 70px;
    margin-right: 12%;
    
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    cursor: pointer;
  }
  
  .navbar-links li a:hover {
    color: #f56565; 
  }
  