.séparateur{
    margin-left: 40%;
    width: 60%;
    height: 1px;
    background-color: #23272c;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D1117;
    color: white;
    width: 100vw;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    
    width: 65vw;
    gap: 10vw;
  }
  
  .profile-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }

  .profile-projects-years{
    display: flex;
    justify-content: space-between;
    
  }

  .profile-projects-years h1 {
    margin-left: 5%;
    color: white;
  }

  .profile-projects-years span {
    color: red;
  }

  .profile-projects-years p{
    color: white;
    font-size: larger;
    margin-left: 5%;
  }

  .container-projects-years{
    border: 1px solid #B22222;
    width: 47%;
    height: 100px;
    background-color: #300606 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .container-projects-years:hover{
    background-color: #B22222;
    transition: 0.5s;
  }

  .profile-info {
    flex: 1;
  }
  
  .profile-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .profile-title span{
    color: red;
  }
  
  .profile-description {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .profile-links {
    margin-top: 40px;
    display: flex;
    gap: 15px;
  }
  
  .profile-icon {
    font-size: 1.8rem;
    color: white;
    background: #1f1f1f;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  
  .profile-icon:hover {
    background: #f56565;
  }
  